/* https://coolors.co/26547c-ef476f-ffd166-06d6a0-fffcf9-34090f-c45a6d-62bec1 */
:root {
    /* CSS HEX */
--usafa-blue: #26547cff;
--paradise-pink: #ef476fff;
--orange-yellow-crayola: #ffd166ff;
--caribbean-green: #06d6a0ff;
--baby-powder: #fffcf9ff;
--dark-sienna: #34090fff;
--popstar: #c45a6dff;
--maximum-blue-green: #62bec1ff;

/* CSS HSL */
/* --usafa-blue: hsla(208, 53%, 32%, 1);
--paradise-pink: hsla(346, 84%, 61%, 1);
--orange-yellow-crayola: hsla(42, 100%, 70%, 1);
--caribbean-green: hsla(164, 95%, 43%, 1);
--baby-powder: hsla(30, 100%, 99%, 1);
--dark-sienna: hsla(352, 70%, 12%, 1);
--popstar: hsla(349, 47%, 56%, 1);
--maximum-blue-green: hsla(182, 43%, 57%, 1); */
}