:root {
    --conclusion: #26547c;
    --economy: #ef476f;
    --mainbg: #fffcf9;
    --mainfontcolor: #34090f;
}

::selection {
    background: var(--economy);
    color: var(--mainbg);
}

::-moz-selection {
    background: var(--economy);
    color: var(--mainbg);
}

::-webkit-selection {
    background: var(--economy);
    color: var(--mainbg);
}