body, html {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    font-family: Montserrat, source-han-sans-cjk-sc, source-han-sans-cjk-sc, sans-serif;
}

::selection {
    background: #fd746c;
    color: #2c3e50;
}

::-moz-selection {
    background: #fd746c;
    color: #2c3e50;
}

::-webkit-selection {
    background: #fd746c;
    color: #2c3e50;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(44, 62, 80, .7);
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(180, 180, 180);
}

div.bgimg {
    background-image: url("../assets/example.JPG");
    /* background-color: #2c3e50; */
    opacity: 0.2;
    height: 100vh;
    position: relative;
    background-size: cover;
    top: 0;
    left: 0;
    background-position: center center;
}

div.words {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

h1, h2, p, a {
    color: #fd746c;
    text-align: center;
    /* padding-right: 3%; */
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    width: auto;
}

h2 {
    font-size: 1.6rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
    font-weight: 400;
    width: auto;
}

a:hover {
    color: #fd746c;
    transition: .3s;
}

div.words:hover {
    color: #fd746c;
    transition: .3s;
}

section:not(:first-child) {
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
}

#part1 {
    background-color: aquamarine;
}

#part2 {
    background-color: bisque;
}

#part3 {
    background-color: coral;
}

#part4 {
    background-color: steelblue;
}

h1.note {
    vertical-align: middle;
}