@import "selection.css";
@import "scrollbar.css";
@import "article.css";
@import "bootstrap-grid.min.css";
:root {
    --conclusion: #26547c;
    --economy: #ef476f;
    --transportation: #ffd166;
    --humanresource: #06d6a0;
    --mainbg: #fffcf9;
    --mainfontcolor: #34090f;
    --mainselection: #c45a6d;
    --mainhighlight: #62bec1;
}

body, html {
    margin: 0;
    height: 100%;
    padding: 0;
    font-family: Montserrat, source-han-sans-cjk-sc, source-han-sans-cjk-ja, sans-serif;
    background-color: var(--mainbg);
    /* font sc and ja use 700 for bold, other fonts 600 */
}

a#backtotop {
    width: 20px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    stroke: var(--mainfontcolor);
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    z-index: 1000;
}

a#backtotop:hover {
    cursor: pointer;
    stroke: var(--mainselection);
    transition: .3s;
    /* background-color: #333; */
}

a#backtotop.show {
    opacity: 1;
    visibility: visible;
}

div.scrolldown {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 25px);
    height: 50px;
    width: 50px;
    stroke: var(--mainbg);
    cursor: pointer;
}

div.scrolldown:hover {
    stroke: var(--mainselection);
    transition: .3s;
}

div.parallax {
    background-image: url("../assets/1025parallaxbg.gif");
    /* opacity: 0.2; */
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

div.coverwords {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 25vh;
}

iframe {
    resize: both;
}

#myfoliummap {
    height: 40vh;
}

#mapbox {
    height: 40vh;
}

.testcontent {
    height: 35vh;
    background-color: #06d6a0;
    /* position: sticky;
    position: -webkit-sticky;
    top: 30vh; */
}

.testchart {
    height: 20vh;
    background-color: #ef476f;
}

.gapbeforefooter {
    height: 10vh;
}